.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('../public/background.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.skilled-container,
.projects-container,
.diamond-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.diamond {
  width: 200px;
  height: 200px;
  background-image: url('../public/rhombus.png');
  background-color: black;
  background-size: cover;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
  margin-left: 45%;
}

.diamond:hover {
  transform: scale(2.0) rotate(45deg);
}

.diamond-content {
  font-size: 6px;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  color: white;
  text-align: center;
  display: none;
}

.diamond:hover .diamond-content {
  display: block;
}

.skills {
  color: white;
  text-align: center;
  padding: 150px;
}

.projects {
  color: white;
  text-align: center;
  padding: 150px;
}